# Example environment variables
# Copy this file to .env and update the values as needed

# Flask App
FLASK_APP_SECRET_KEY=your_secret_key

# FastAPI App
FASTAPI_APP_SECRET_KEY=your_secret_key

# Discord Bot
DISCORD_BOT_TOKEN=your_bot_token
